.anchorjs-link
{
  text-decoration: none !important;
  color: lightgrey !important;
}

#toc {
  width: 150px;
  position: fixed;
  top: 85px;
  left: 50%;
  margin-left: -570px;
  text-align: right;

  ul {
    list-style: none;
    list-style-image: none;
  }

  ul > li {
    font-size: 14px;
    padding: 5px 0px;
    line-height: 16px;
  }
  
  ul > li > ul > li {
    font-size: 12px;
  }

  a {
    color: #666;
    &:hover { color: #999; }
  }
}

@media screen and (max-width: 1100px) {
  #toc {
    display: none;
  }
}

@media screen and (max-height: 400px) {
  #toc {
    display: none;
  }
}

@media print {
  #toc {
    display: none;
  }
}
